*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
.idea
/build
/captures
/ronglibs/CallKit/build
/ronglibs/CallLib/build
/ronglibs/IMLib/build
/ronglibs/IMKit/build
.externalNativeBuild
.cxx
gradlew.bat
gradlew
